<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/atm.css">
    <title>ATM-Green</title>
</head>
<body>
  <div class="container-fluid">
    <header id="headerDepositos" col-12>
      <a href="deposito-8.html"><img src="../assets/img/7.jpg" alt=""></a>
      <input id="compTdc" type="text" name="" value="" placeholder="1128362432">
      <input id="compName" type="text" name="" value="" placeholder="Laboratoria a.c">
      <input id="importeIngr" type="text" name="" value=""placeholder="$300.00">
      <input id="importeDep" type="text" name="" value=""placeholder="$250">
      <input id="cambio" type="text" name="" value="" placeholder="$50.00">
      <input id="motivo" type="text" name="" value="" placeholder="Pago Laboratoria">
      <input id="compCel" type="text" name="" value="" placeholder="5559650719">
    </header>
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>
