<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/atm.css">
    <title>ATM-Green</title>
</head>
<body>
  <div class="container-fluid">
    <header id="headerDepositos" col-12>
      <a href="deposito-7.html"><img src="../assets/img/6.jpg" alt=""></a>
    </header>
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>
